table {
  width: 100%;
  text-align: center;
}
th,
td {
  border: 1px solid #000;
  padding: 10px;
}

.green {
  background-color: #4caf50;
}

.yellowGreen {
  background-color: #8bc34a;
}

.yellow {
  background-color: #ffeb3b;
}

.orange {
  background-color: #ff9800;
}

.red {
  background-color: #f44336;
}
